<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | The Internet Archive Fundraiser Zine</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <a class="skip-link paper-strip" href='#main'>Skip to content</a>
    <header>
        <!-- TODO: Replace link below with image link for Home page? -->
        <p><a href="/">The Internet Archive Fundraiser Zine</a></p>
        <nav aria-label="main"> <!-- give it a label/name because there are 2 navs on zine page -->
            <ul role="list">
                <li><a href="/#donate">Donate</a></li> <!-- change this to Internet Archive donate page when thing is over -->
                <li><a href="/faq/"{% if page.url == "/faq/" %} aria-current="page"{% endif %}>FAQ</a></li>
                <li><a href="/links/"{% if page.url == "/links/" %} aria-current="page"{% endif %}>Links</a></li>
                <li><span>Zine - Coming Soon!</span></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <h1><span class="paper-strip">{{ title }}</span></h1>
        {{ content | safe}}
    </main>
    <footer>
        {% if footer -%}
        <p>{{ footer | safe }}</p>
        {%- endif %}
        <p><a href="/accessibility/">Accessibility</a></p>
    </footer>
    
</body>
</html>